--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
streamlit
pillow
scikit-learn
numpy
pandas
chromadb
sentence-transformers
langchain
langchain-community
google-generativeai
matplotlib
